[submodule "third_party/eigen"]
	path = third_party/eigen3
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/farmhash"]
	path = third_party/farmhash
	url = https://github.com/google/farmhash
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "third_party/gemmlowp"]
	path = third_party/gemmlowp
	url = https://github.com/google/gemmlowp
[submodule "third_party/ruy"]
	path = third_party/ruy
	url = https://github.com/google/ruy
[submodule "third_party/ARM_NEON_2_x86_SSE"]
	path = third_party/ARM_NEON_2_x86_SSE
	url = https://github.com/intel/ARM_NEON_2_x86_SSE
[submodule "third_party/FXdiv"]
	path = third_party/FXdiv
	url = https://github.com/Maratyszcza/FXdiv
[submodule "third_party/absl"]
	path = third_party/absl
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/FP16"]
	path = third_party/FP16
	url = https://github.com/Maratyszcza/FP16
